<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To Do List</title>
    </head>
    <body>
        <header>
            <ul>
                <li class="nav">
                    <a href="/"><i class="fa-solid fa-calendar-days"></i> Today</a>
                </li>
                <li class="nav">
                    <a href="/work"><i class="fa-solid fa-briefcase"></i> Work</a>
                </li>
            </ul>
        </header>
        <main>
            <div class="container" bis_skin_checked="1">
                <div class="heading" bis_skin_checked="1">
                    Thursday, November 2nd
                </div>
        
                <form class="inputForm" action="/" method="post">
                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off" required="">
                    <button type="submit" name="list" value="Thursday, November 2nd">+</button>
                </form>
        
                
                    <div class="box" bis_skin_checked="1">
                        
            </div>
        
        
            
            
            </main>



    </body>   

</html>